@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
}

.header h1 {
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.dropdown {
    width: 400px;
    margin: 100px auto;
    position: relative;
    user-select: none;
}

.dropdown .dropdown-btn {
    padding: 15px 20px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

.dropdown .dropdown-content {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333333;
    width: 100%;
}

.dropdown .dropdown-content .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
    background: #f4f4f4
}

.fields-form {
    margin-bottom: 40px;
}

.form-control {
    margin: 20px 0;
}

.form-control label {
    width: 92%;
    margin-left: 20px;
}

.form-control input {
    width: 92%;
    height: 40px;
    margin: 20px;
    padding: 3px 7px;
    font-size: 17px;
}

.list {
    padding: 0;
    list-style: none;
    text-align: center;
}

.listItem {
    margin-bottom: 20px;
    font-size: 25px;
    color: #444;
    font-weight: 300;
}

.listFiltered {
    display: inline;
    width: 30%;
    height: 50px;
    float: left;
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid black;
    margin-bottom: 5px;
    margin-left: 20px;
}

